.btn {
    cursor: pointer;
    background-color: var(--main-color);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    box-shadow: 0 0 10px var(--shadow-color);
    transition: all 0.2s ease;
}

.btn:hover {
    background-color: var(--hover-color);
    transform: translateY(-3px);
}

.btn.r {
    color: var(--red-color);
    background-color: #00000000;
    box-shadow: inset 0 0 0 2px var(--red-color);
}

.btn.r:hover {
    color: var(--background-color);
    background-color: var(--red-color);
}

.btn.sm {
    padding: 5px 10px;
    font-size: 12px;
}