html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

:root {
    --main-color: #234B7E;
    --secondary-color: #F0F0F0;
    --light-color: #E0E0E0;
    --text-color: #333;
    --secondary-text-color: #666;
    --hover-color: #1A3A6D;
    --active-color: #162A4D;
    --background-color: #ffffff;
    --red-color: #9B241C;
    --red-hover-color: #E33122;
}

.btn {
    cursor: pointer;
    background-color: var(--main-color);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
}

.btn:hover {
    background-color: var(--hover-color);
}

.btn.r {
    color: var(--red-color);
    background-color: #00000000;
    box-shadow: inset 0 0 0 2px var(--red-color);
}

.btn.r:hover {
    color: var(--background-color);
    background-color: var(--red-color);
}

.btn.sm {
    padding: 5px 10px;
    font-size: 12px;
}

a {
    color: var(--text-color);
    cursor: pointer;
}

a:hover {
    color: var(--hover-color);
}

.title-bar {
    z-index: 999;
    position: fixed;
    top: 0;
    app-region: drag;
    width: 100%;
    height: 32px;
    background-color: var(--main-color);
    text-align: center;
}

.title-bar .title {
    font-size: 16px;
    margin-top: 4px;
    color: #ffffff;
}

.app {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.navbar {
    box-sizing: border-box;
    width: 200px;
    padding: 45px 10px;
    color: var(--text-color);
    background-color: var(--background-color);
    border-right: 2px solid var(--secondary-color);
}

.navbar-item {
    margin-bottom: 8px;
    padding: 10px 14px;
    cursor: pointer;
    font-size: 14px;
    color: var(--text-color);
    border: 1.8px solid var(--light-color);
    border-radius: 8px;
    text-decoration: none;
}

.navbar-item:hover {
    background-color: var(--hover-color);
    color: var(--background-color);
}

.navbar-version {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    color: var(--light-color);
}

.bottombar {
    z-index: 999;
    position: absolute;
    display: flex;
    bottom: 0;
    left: 200px;
    right: 0;
    height: 44px;
    box-sizing: border-box;
    border-top: 2px solid var(--secondary-color);
    background-color: var(--background-color);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bottombar .info-text {
    font-size: 14px;
    color: var(--text-color);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    overflow-y: auto;
    padding: 40px;
    padding-bottom: 80px;

    animation: fadeInUp 0.2s ease-out;
}

.main.nopadding {
    padding: 0 !important;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    color: var(--text-color);
    background-color: var(--background-color);
    border-radius: 15px;
    border: 1px solid var(--main-color);
    padding: 5px 20px;
    transition: all 0.2s ease;
}

.card.hover-enabled:hover {
    cursor: pointer;
    color: var(--background-color);
    background-color: var(--hover-color);
}

.card.click {
    cursor: pointer;
    color: var(--background-color);
    background-color: var(--main-color);
}

.card.hover-enabled:hover .title,
.card.click .title {
    color: var(--background-color);
}

.card-group .card {
    flex: 1;
}

.card .btn {
    margin-bottom: 10px;
}

.card .title {
    font-size: 18px;
    margin-bottom: -10px;
    color: var(--main-color);
    transition: all 0.2s ease;
}

.card .content {
    font-size: 14px;
    line-height: 1.5;
}

.card .top-tag {
    position: relative;
    left: -30px;
    top: -15px;
    width: 32px;
    height: 32px;
    color: var(--background-color);
    background-color: var(--main-color);
    border-radius: 50%;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: -20px;
}

.banner {
    height: 140px;
    padding: 40px;
}

.page-title {
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: -16px;
}

.page-des {
    font-size: 18px;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
}

.dataset-des {
    font-size: 14px;
    color: var(--secondary-text-color);
    margin-bottom: 5px;
}

.dataset-info {
    font-size: 12px;
    color: var(--secondary-text-color);
}

.form-group,
.form-group-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-group-title {
    display: flex;
    /* border-bottom: 1px solid var(--main-color); */
}

.form-group-title .step-tag {
    font-size: 16px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background-color);
    background-color: var(--main-color);
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: -33px;
}

.form-group-title .title {
    font-size: 18px;
    color: var(--text-color);
    line-height: 1;
    margin-left: 35px;
}

input[type="text"],
input[type="number"],
select,
textarea,
input[type="file"] {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid var(--secondary-color);
    border-radius: 6px;
    background-color: var(--background-color);
    color: var(--text-color);
    outline: none;
    transition: border-color 0.2s ease;
}

input[type="text"]:focus,
textarea:focus {
    border-color: var(--main-color);
}

button.btn.upload-btn {
    margin-top: 10px;
}

label {
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 14px;
    color: var(--text-color);
}

.tip-box {
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    padding: 10px 30px;
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid var(--secondary-color);
    text-align: left;
    font-size: 14px;
}

.tag {
    padding: 5px 8px;
    color: var(--background-color);
    background-color: var(--main-color);
    border-radius: 8px;
}

.tab-content {
    opacity: 0;
    transform: translateX(20px);
    transition: all 0.4s ease;
    position: absolute;
    width: 100%;
}

.tab-content.active {
    opacity: 1;
    transform: translateX(0);
    position: relative;
}

.tab-content.hidden {
    pointer-events: none;
    height: 0;
    overflow: hidden;
}

.config-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.config-table tr:hover {
    cursor: pointer;
}

.config-table td {
    border: 1px solid var(--light-color);
    padding: 8px 12px;
    vertical-align: top;
}

.config-table td:first-child {
    font-weight: bold;
    width: 180px;
    color: var(--text-color);
    background-color: var(--background-color);
}

.icon {
    width: 16px;
    height: 16px;
}

.navbar .icon {
    margin-bottom: -2px;
    margin-right: 8px;
}

.navbar .navbar-item:hover .icon {
    filter: invert(100%);
}