html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

:root {
    --main-color: #234B7E;
    --secondary-color: #F0F0F0;
    --light-color: #E0E0E0;
    --text-color: #333;
    --secondary-text-color: #666;
    --hover-color: #1A3A6D;
    --active-color: #162A4D;
    --background-color: #ffffff;
    --red-color: #9B241C;
    --red-hover-color: #E33122;
    --turquoise-color: #58b4f5;
    --green-color: #49713D;
    --yellow-color: #F1D55F;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

a {
    color: var(--text-color);
    cursor: pointer;
}

a:hover {
    color: var(--hover-color);
}

.app {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    overflow-y: auto;
    padding: 44px 60px;
    padding-bottom: 80px;

    animation: fadeInUp 0.2s ease-out;
}

.main.nopadding {
    padding: 0 !important;
}

.banner {
    min-height: 65px;
    margin: 24px 0;
    padding: 24px 50px;
    border-radius: 14px;
    box-shadow: 0 0 12px var(--shadow-color);
    transition: all 0.3s ease;
    cursor: pointer;
}

.banner:hover {
    transform: scale(1.02);
}

.banner:active {
    transform: scale(0.99);
}

.page-title {
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: -16px;
}

.page-des {
    font-size: 18px;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
}

.dataset-des {
    font-size: 14px;
    color: var(--secondary-text-color);
    margin-bottom: 5px;
}

.dataset-info {
    font-size: 12px;
    color: var(--secondary-text-color);
}

.icon {
    height: 16px;
}

.navbar .navbar-item:hover .icon,
.navbar-item.clicked .icon,
.icon.w {
    filter: invert(100%);
}

.img_color_inversion {
    filter: invert(100%);
}

.fade-in {
    animation: fadeIn 0.4s ease-in-out;
}

.terminal-container {
    margin-top: 20px;
}

.task-result-detailed-time {
    font-size: 26px;
    font-weight: bold;
}

.home-page-title {
    font-size: 18px;
    font-weight: bold;
}

.home-page-title .icon{
    margin-right: 8px;
}